
.course-details-form {
  display: flex;
  flex-direction: column;
}

.course-type {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-radio-button{
  margin-right: 2.5px;
  margin-left: 2.5px;
}
.distool{
  display: flex;
  align-items: center;
}

